:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins", sans-serif;
  --azul-subtitulo: #002f52;
}

.topicos {
  background: var(--azul-degrade);
  text-align: center;
  color: var(--branco);
  font-family: var(--fonte-principal);
  padding: 1.5em 0;
}

.topicos__titulo {
  font-size: 16px;
  font-weight: 300;
  padding: 0 0 1.5em;
  text-transform: uppercase;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.topicos__item {
  background-color: var(--laranja);
  font-size: 14px;
  font-weight: 700;
  margin: 0.5em;
  padding: 1.5em;
}

.topicos__link {
  color: var(--branco);
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo {
    font-size: 24px;
  }

  .topicos__link {
    font-size: 24px;
  }

  .topicoslista {
    margin: 1em 6em 0 6em;
    display: flex;
    gap: 40px;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1728px) {
  .topicos {
    padding: 3em 30vw;
  }

  .topicos__link:hover {
    color: var(--azul-subtitulo);
  }
}
